
.container {
    margin:  0 auto;
    background-color:aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

form {
    width: fit-content;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    background-color: bisque;
}


input {
    display: block;
    margin: 10px;
    margin-bottom: 10px;
}

li {
    display: flex;
    justify-content: right;
    align-items:center;
}

button {
    margin: 0 10px;
}
